<a href="https://colab.research.google.com/github/PraveenaSL/PRAVEENASL/blob/main/assingment_stat1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dataset=pd.read_csv('/content/Students_Performance.csv')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
dataset.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33

In [ ]:
#QN 1 (a)

In [ ]:
gender_count=dataset['gender'].value_counts()
print('number of male',gender_count['male'])
print('number of female',gender_count['female'])

number of male 482
number of female 518

In [ ]:
#Qn 1 (b)

In [ ]:
parental_education_count=dataset['parental level of education'].value_counts()
print('parental level of education distribution:')
print(parental_education_count)

parental level of education distribution:
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [ ]:
#QN 1 (C)(i)

In [ ]:
average_score=dataset.groupby('gender').mean()
print('average score by gender')
print(average_score)

average score by gender
        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

<ipython-input-16-c0e9e7cbac5d>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  average_score=dataset.groupby('gender').mean()

In [ ]:
#QN 1(C)(ii)

In [ ]:
average_score=dataset.groupby('test preparation course').mean()
print('average score by test preparation course')
print(average_score)

average score by test preparation course
                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

<ipython-input-17-d99c6e064e2f>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  average_score=dataset.groupby('test preparation course').mean()

In [ ]:
score_variation=dataset.groupby('gender').std()
print('score_variation  by gender')
print(score_variation)

score_variation  by gender
        math score  reading score  writing score
gender
female   16.029928      14.411018      14.844842
male     14.556411      14.149594      14.227225

<ipython-input-18-b3023194327d>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  score_variation=dataset.groupby('gender').std()

In [ ]:
score_variation=dataset.groupby('test preparation course').std()
print('score_variation  by test preparation course')
print(score_variation)

score_variation  by test preparation course
                         math score  reading score  writing score
test preparation course
completed                 14.521847      13.537572      13.236412
none                      15.705689      14.608896      15.041667

<ipython-input-19-738138abca27>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  score_variation=dataset.groupby('test preparation course').std()

In [ ]:
#QN 1 (E)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
cut_off = np.percentile(dataset["math score"], 75)
top_25_students = dataset.loc[dataset['math score'] > cut_off]

print('Top 25% of students based on their math score:')
print(top_25_students)

Top 25% of students based on their math score:
     gender race/ethnicity parental level of education         lunch  \
430  female        group A                some college      standard
431  female        group B           bachelor's degree  free/reduced
432  female        group D           bachelor's degree      standard
433  female        group D                 high school      standard
434  female        group D           bachelor's degree  free/reduced
..      ...            ...                         ...           ...
995    male        group E                some college      standard
996    male        group A                some college      standard
997    male        group D                some college      standard
998    male        group E          associate's degree  free/reduced
999    male        group E           bachelor's degree      standard

    test preparation course  math score  reading score  writing score
430               completed          78             87             91
431                    none          78             79             76
432                    none          78             82             79
433                    none          78             81             80
434                    none          78             90             93
..                      ...         ...            ...            ...
995               completed          99             87             81
996               completed         100             96             86
997               completed         100             97             99
998               completed         100            100             93
999               completed         100            100            100

[231 rows x 8 columns]