# Practice problems

In [1]:
from math import pi
r = int(input("Enter the radius:\n"))
area = pi * r**2
print ("Area of circle is:",area)

Enter the radius:
8
Area of circle is: 201.06192982974676

In [2]:
name = input("Enter the name:\n")
Rollno = int(input("Enter the Rollno:\n"))
Mark = int(input("Enter the Mark:\n"))
print(  "Name:",name,"\n","Rollnumber:",Rollno,"\n","Mark:",Mark)

Enter the name:
Praveena
Enter the Rollno:
16
Enter the Mark:
95
Name: Praveena
 Rollnumber: 16
 Mark: 95

In [ ]:
def lar_list(list):
  large = list[0]
  for i in list:
    if i>large:
      large=i
  return large

l1=[12,3,47,10]
print("The list is:",l1,"\n")
print(lar_list(l1),"is the largest number")

The list is: [12, 3, 47, 10]

47 is the largest number

In [3]:
start = 5
end = 10
prev_num = 6

for current_number in range(start, end + 1):
    print("Current Number:", current_number)
    print("Previous Number:", prev_num)
    print("Sum:", current_number + prev_num)
    print()
    prev_num = current_number

Current Number: 5
Previous Number: 6
Sum: 11

Current Number: 6
Previous Number: 5
Sum: 11

Current Number: 7
Previous Number: 6
Sum: 13

Current Number: 8
Previous Number: 7
Sum: 15

Current Number: 9
Previous Number: 8
Sum: 17

Current Number: 10
Previous Number: 9
Sum: 19

In [4]:
l2=[15,20,25,27,50]
div5 = list(filter (lambda i: (i%5 == 0),l2))
print("The list is:",l2,"\n","The divisors of 5 are:",div5)

The list is: [15, 20, 25, 27, 50]
 The divisors of 5 are: [15, 20, 25, 50]

In [5]:

num = int(input("Enter a number: "))

if num > 1:
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           break
   else:
       print(num,"is a prime number")
else:
   print(num,"is not a prime number")

Enter a number: 7
7 is a prime number

In [7]:
l5=[12,19,20,25,30]
print("List before reversal is:",l5)
r_list = []
for i in l5:
  r_list = [i] + r_list
print("List after reversal is:",r_list)

List before reversal is: [12, 19, 20, 25, 30]
List after reversal is: [30, 25, 20, 19, 12]

In [ ]:
def print_ptrn():
  print("*" * 1)
  print("*" * 2)
  print("*" * 3)
  print("*" * 4)

print_ptrn()

*
**
***
****

In [8]:
num1 = int(input("Enter 1st number: "))
num2 = int(input("Enter 2nd number: "))
num3 = int(input("Enter 3rd number: "))

if(num1>num2) and (num1>num3):
  print(num1,"is greater")
elif(num2>num3) and (num2>num1):
  print(num2,"is greater")
else:
  print(num3,"is greater")

Enter 1st number: 50
Enter 2nd number: 78
Enter 3rd number: 67
78 is greater

In [9]:
stars = 8

for i in range(1, stars + 1):
  print("*" * i)
for i in range(stars - 1,0,-1):
     print("*" * i)

*
**
***
****
*****
******
*******
********
*******
******
*****
****
***
**
*

# Practice problems 2

In [10]:
ex = input("Enter a string:")
co ={}
for i in ex:
  if i in co:
    co[i]+= 1
  else:
    co[i]=1

print(co)

Enter a string:a
{'a': 1}

In [11]:
def maximum(a, b, c):
    list = [a, b, c]
    return max(list)

a = 32
b = 34
c = 70
print(maximum(a, b, c))

70

In [12]:
def exponent(base,exp):
  return base ** exp

base = int(input("Enter the base number:"))
exp = int(input("Enter its exponent:"))
result = exponent(base,exp)
print(result)

Enter the base number:10
Enter its exponent:6
1000000

In [13]:
def soc(n):
  soc = 0

  for i in range(1,n):
    soc += i **3

  return soc

ran =  int(input("Enter the range to find cube: "))
if ran > 1:
  cube = soc(ran)
  print("sum of cubes of +ve integer less then",ran,"is:",cube)
else:
  print("Negative numbers are not accepted at the moment")

Enter the range to find cube: 1000
sum of cubes of +ve integer less then 1000 is: 249500250000

In [15]:
for i in range(1, 9):
    if i % 2 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 2 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz

In [16]:
def lele(list):
  return max(set(list),key = list.count)

listtt=[2,3,4,5,2,2,2,]
print("Most frequent element in",listtt,"is :",lele(listtt))

Most frequent element in [2, 3, 4, 5, 2, 2, 2] is : 2

In [17]:
def sos(numbers):
  return sum(num ** 2 for num in numbers)

ln = [2,3,5,6,1]
print("Sum of squares of",ln,"is :",sos(ln))

Sum of squares of [2, 3, 5, 6, 1] is : 75

In [18]:
for i in range(1,125):
  if (i % 2 == 0):
    print(i,"-","even")
  else:
    print(i,"-","odd")

1 - odd
2 - even
3 - odd
4 - even
5 - odd
6 - even
7 - odd
8 - even
9 - odd
10 - even
11 - odd
12 - even
13 - odd
14 - even
15 - odd
16 - even
17 - odd
18 - even
19 - odd
20 - even
21 - odd
22 - even
23 - odd
24 - even
25 - odd
26 - even
27 - odd
28 - even
29 - odd
30 - even
31 - odd
32 - even
33 - odd
34 - even
35 - odd
36 - even
37 - odd
38 - even
39 - odd
40 - even
41 - odd
42 - even
43 - odd
44 - even
45 - odd
46 - even
47 - odd
48 - even
49 - odd
50 - even
51 - odd
52 - even
53 - odd
54 - even
55 - odd
56 - even
57 - odd
58 - even
59 - odd
60 - even
61 - odd
62 - even
63 - odd
64 - even
65 - odd
66 - even
67 - odd
68 - even
69 - odd
70 - even
71 - odd
72 - even
73 - odd
74 - even
75 - odd
76 - even
77 - odd
78 - even
79 - odd
80 - even
81 - odd
82 - even
83 - odd
84 - even
85 - odd
86 - even
87 - odd
88 - even
89 - odd
90 - even
91 - odd
92 - even
93 - odd
94 - even
95 - odd
96 - even
97 - odd
98 - even
99 - odd
100 - even
101 - odd
102 - even
103 - odd
104 - even
105 - odd
106 - even
107 - odd
108 - even
109 - odd
110 - even
111 - odd
112 - even
113 - odd
114 - even
115 - odd
116 - even
117 - odd
118 - even
119 - odd
120 - even
121 - odd
122 - even
123 - odd
124 - even

In [19]:
def ctf(celsius):
  return (celsius * 9/5) + 32

def ftc(fahreheit):
  return (fahreheit - 32) * 5/9

temp_fahr = 49
temp_to_cel = ftc(temp_fahr)
print("Temperature in celsius is:" ,temp_to_cel)
convert_cel_fahr = ctf(temp_to_cel)
print("Temperature converted back to Fahreheit is:" ,convert_cel_fahr)

Temperature in celsius is: 9.444444444444445
Temperature converted back to Fahreheit is: 49.0

In [20]:
def fact(n):
  if(n == 0):
    return 1
  else:
    return n * fact(n-1)

num = int(input("Enter a number to find its factorial:"))
print("Factorial of",num,"is :",fact(num))

Enter a number to find its factorial:8
Factorial of 8 is : 40320


# Discord practice problem

In [21]:
First = input("Enter your first name:")
Last = input("Enter your last name:")

name = First +' '+Last
print("Hello",name,"! You just delved into python.")

Enter your first name:Glory
Enter your last name:James
Hello Glory James ! You just delved into python.

In [22]:
n = int(input("Enter the value:"))

if (n % 2 != 0):
  print(n,"is odd")
elif n >= 2 and n <= 9:
  print("not weird")
elif n >= 6and n <= 25:
  print("weird")
else:
  print("not weird")

Enter the value:5
5 is odd